@import '../../scss/mixins.scss';

.footer {
  display: flex;
  justify-content: space-between;
  @include mainPartItem;
  font-size: var(--fs-18);
  line-height: var(--lh-21);
  .filters {
    .button {
      &:not(:last-child) {
        margin-right: 2rem;
      }
      &-active {
        @include border(var(--color-red-light));
        border-radius: var(--border-radius-basic);
        padding: 0.5rem;
      }
    }
  }
}
